<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Communication of current medical knowledge on disease, risk factors, diagnoses, prognoses, treatments, health, and wellness to patients, the public, decision-makers, the media, and others requires the use of clear language and terminology. This is especially true for addiction medicine given the stigma attached to drug use and addiction. Clinicians, patients, families, policymakers, the media, and the general public have long struggled with this terminology. The names alcoholism, alcohol and other substance addictions, addictionology, and eventually addiction medicine have evolved from earlier terms found in the titles of predecessor organisations.
The ASAM Board approved the formation of a Descriptive and Diagnostic Terminology Action Group in 2007 to assist in defining addiction-related words as used by ASAM (DDTAG). The 2011 ASAM long and short definitions of addiction*, as well as definitions for terminology related to treatment, recovery, and the spectrum of harmful substance use, were developed by this group after substantial research and deliberation. The DDTAG recognised that language problems were inevitably accompanied by differences in presumptions regarding what constitutes the desirable results of recovery, whether assisted by professional treatment or not.
Since 2011, there has been a rise in public awareness of addiction as a chronic brain disease with a chance of remission and recovery. The importance of harm reduction and prevention in the continuum of addiction and recovery is also being recognised more and more. As a result, the ASAM Board acknowledged the need for an updated definition of addiction in 2018 that would be better understandable to many of ASAM&apos;s stakeholder groups, including patients, the media, and decision-makers. A Task Force to Update Terms Related to Addiction and the Treatment of Addiction was subsequently established by the Board. For inclusion in ASAM&apos;s policy statements, the Task Force updated the definition of addiction with input from internal and external stakeholders.
The DDTAG had designated &quot;medication-assisted recovery (MAR)&quot; and &quot;medication-assisted treatment (MAT)&quot; as transitional terms, and the Task Force advised against using those definitions in ASAM publications. The Task Force proposed that ASAM use generic medical terminology to describe addiction treatment in light of the development of this field and its growing integration with other aspects of medical care. As a result, ASAM advises referring to any drug used to treat addiction as &quot;medicine&quot; if it has received FDA approval. ASAM advises that &quot;MAT&quot; be read and understood as &quot;medications for addiction treatment&quot; because it is still often used in legislation, regulations, academic publications, the media, and everyday speech.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
</array>
</plist>
