<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
	<dict>
		<key>Addiction</key>
		<string>Addiction is a medical condition that can be managed and is a result of intricate connections between the environment, genetics, genes, and brain circuits. Addicts frequently utilise drugs or participate in practises that become compulsive and persist despite negative effects.
Addiction prevention initiatives and treatment modalities typically have the same level of success as those for other chronic disorders.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=vfly2E9VobA</string>
		<key>Thumbnail</key>
		<string>vfly2E9VobA</string>
	</dict>
</array>
</plist>
