<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=M4yyQ3czQtY&amp;list</string>
		<key>Detail</key>
		<string>Major depressive disorder, sometimes known as depression, is a serious medical condition that frequently affects people&apos;s feelings, thoughts, and behaviours. Thankfully, it is also curable. Sadness and/or a loss of interest in previous hobbies are symptoms of depression. It can impair your ability to perform at work and at home and cause a number of mental and physical issues.
</string>
		<key>Thumbnail</key>
		<string>M4yyQ3czQtY</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>•	Trouble sleeping or sleeping too much. 
	•	Feeling down or depressed. 
	•	Loss of interest or pleasure in activities once enjoyed. 
	•	Changes in appetite — weight loss or gain unrelated to dieting. 
	•	Loss of energy or increased fatigue. 
	•	An increase in pointless physical activity (such as pacing, hand-wringing, or the inability to sit still). 
	•	Trouble sleeping or sleeping too much. 
	•	Feeling useless or guilty.
	•	having trouble focusing, thinking, or making judgments.
	•	Suicidal or death-related ideas.
</string>
		<key>UTubeLink </key>
		<string>https://www.youtube.com/watch?v=M4yyQ3czQtY&amp;list</string>
		<key>Thumbnail</key>
		<string>M4yyQ3czQtY</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>The loss of a loved one, the termination of a job, or the dissolution of a relationship are all trying events for a person to go through. It is common for people to experience melancholy or grief in response to such circumstances. People who have lost something frequently label themselves as &quot;depressed.&quot;</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=M4yyQ3czQtY&amp;list</string>
		<key>Thumbnail</key>
		<string>M4yyQ3czQtY</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Even those who seem to lead relatively ideal lives might suffer from depression.
The following things may contribute to depression:
	•	Biochemistry: Variations in a few brain chemicals may be a factor in the manifestation of depressive symptoms.
	•	Depression may run in families due to genetics. For instance, if one identical twin develops depression, there is a 70% probability that the other would also get the condition at some point in life.
	•	Personality: It seems that those who have low self-esteem, are easily stressed out, or are usually gloomy are more prone to suffer from depression.
	•	Environmental factors: Some people may be more susceptible to depression if they are constantly exposed to violence, neglect, abuse, or poverty.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=M4yyQ3czQtY&amp;list</string>
		<key>Thumbnail</key>
		<string>M4yyQ3czQtY</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>One of the most manageable mental illnesses is depression. Eventually, between 80% and 90% of depressed individuals respond well to therapy. Almost all patients have some symptom alleviation.
A health care provider should carry out a thorough diagnostic evaluation that includes a physical exam and an interview before making a diagnosis or starting treatment. In rare instances, a blood test may be performed to ensure that a medical condition like a thyroid issue or a vitamin deficit is not the cause of the depression (reversing the medical cause would alleviate the depression-like symptoms). In order to provide a diagnosis and determine a course of action, the examination will pinpoint particular symptoms, examine medical and family histories, as well as cultural and environmental factors.</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=M4yyQ3czQtY&amp;list</string>
		<key>Thumbnail</key>
		<string>M4yyQ3czQtY</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>An individual&apos;s brain chemistry may contribute to their depression and may influence how they are treated. Antidepressants may therefore be prescribed to help alter one&apos;s brain chemistry. These drugs are not tranquillizers, sedatives, or &quot;uppers.&quot; They do not become habits. Antidepressant drugs typically don&apos;t have any stimulating effects on persons who aren&apos;t depressed.
The full effects of antidepressants may not become apparent for two to three months after starting treatment, however they may start to show some improvement after a week or two. After several weeks, if a patient has made little to no progress, the patient&apos;s psychiatrist may adjust the medication&apos;s dosage or add or remove another antidepressant. Other psychotropic medicines may be beneficial in some circumstances. If a drug does not function as expected or if you suffer any negative effects, you should inform your doctor right once.
After symptoms have improved, psychiatrists typically advise patients to take their medicine for another six months or more. For some individuals at high risk, longer-term maintenance therapy may be advised to reduce the risk of subsequent episodes.</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=M4yyQ3czQtY&amp;list</string>
		<key>Thumbnail</key>
		<string>M4yyQ3czQtY</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>When treating mild to moderate depression, psychotherapy, often known as &quot;talk therapy,&quot; is occasionally used alone; when treating moderate to severe depression, psychotherapy is frequently combined with antidepressant drugs. It has been discovered that cognitive behavioural therapy (CBT) is successful in treating depression. CBT is a type of therapy that concentrates on fixing problems in the here and now. CBT assists a person in identifying distorted or negative thinking with the aim of altering beliefs and actions to react to difficulties more positively.
Psychotherapy may simply involve the patient, but it may also involve others. Therapy for families or couples, for instance, can assist in addressing problems within these tight bonds. In a safe environment, group therapy brings people with related disorders together, and it can help the participant understand how others handle similar circumstances.
The length of treatment depends on how severe the depression is. It may take a few weeks or much more. In many instances, 10 to 15 sessions are sufficient to achieve noticeable progress.</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=M4yyQ3czQtY&amp;list</string>
		<key>Thumbnail</key>
		<string>M4yyQ3czQtY</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Patients with severe major depression who have not responded to conventional therapies have traditionally been the target population for the medical procedure known as ECT. While the patient is unconscious, the brain is briefly stimulated electrically. ECT is normally administered to a patient twice to three times per week for a total of six to twelve sessions. A team of skilled medical experts, including a psychiatrist, an anesthesiologist, and a nurse or physician assistant, typically manages it. Since the 1940s, ECT has been utilised, and decades of research have resulted in significant advancements and the acceptance of its efficacy as a mainstream therapy rather than a &quot;last resort.&quot;</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=M4yyQ3czQtY&amp;list</string>
		<key>Thumbnail</key>
		<string>M4yyQ3czQtY</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>People can take a variety of actions to assist lessen the symptoms of depression. Regular exercise helps many people feel better about themselves and elevates their mood. A good diet, regular quality sleep, and avoiding alcohol (a depressive) can all help lessen the symptoms of depression.
There is treatment for depression, which is a serious condition. The vast majority of depressed persons will recover with the right diagnosis and care. Consult your family doctor or a psychiatrist as soon as possible if you&apos;re showing signs of depression. Talk about your worries and ask for a complete assessment. Your mental health needs are being addressed in this way.</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=M4yyQ3czQtY&amp;list</string>
		<key>Thumbnail</key>
		<string>M4yyQ3czQtY</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>The Diagnostic and Statistical Manual of Mental Disorders, Fifth Edition (DSM-5) now includes PMDD. A week or so prior to the start of her period, a woman with PMDD has acute depression, irritability, and tension symptoms.
Swings in mood, irritation or rage, depression, and pronounced anxiety or tension are common symptoms. Other symptoms could be a loss of interest in routine activities, trouble focusing, lack of energy or easy tiredness, changes in appetite with particular food cravings, difficulty sleeping or excessive napping, or a feeling of being overpowered or out of control. Breast soreness or swelling, joint or muscle pain, a feeling of &quot;bloating,&quot; or weight gain are examples of physical symptoms.
A week to ten days before to the start of menstruation, these symptoms appear, and they either get better or go away around the time menses start. Significant distress and difficulties with daily tasks or social interactions are caused by the symptoms.
PMDD must be diagnosed based on symptoms that have interfered negatively with job or social functioning for the majority of the previous year&apos;s menstrual cycles. An estimated 1.8% to 5.8% of women who are menstruation each year are thought to suffer from premenstrual dysphoric disorder.
Antidepressants, birth control pills, and dietary supplements can all be used to treat PMDD. A change in diet and way of life—such as giving up alcohol and caffeine, getting enough rest and exercise, and using relaxation techniques—can help.
Similar to PMDD, premenstrual syndrome (PMS) symptoms start seven to ten days before a woman&apos;s period. PMS, however, has fewer and milder symptoms than PMDD.</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=M4yyQ3czQtY&amp;list</string>
		<key>Thumbnail</key>
		<string>M4yyQ3czQtY</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>The ailment known as disruptive mood dysregulation disorder affects children and adolescents between the ages of 6 and 18. It entails significant chronic irritation that frequently and severely loses control of one&apos;s temper. Verbal or physical aggressiveness toward persons or property may be involved in the temper outbursts. These outbursts are wildly out of character for the circumstance and don&apos;t match the child&apos;s developmental stage. They must be frequent (often three or more times each week), and they usually result from irritation. The child&apos;s mood is consistently irritable or angry for the majority of the day, almost every day, in between the outbursts. Others, such as parents, teachers, and peers, are aware of this emotion.
Disruptive mood dysregulation disorder must first manifest before the age of ten, and symptoms must last for at least a year in at least two contexts (such as at home, school, and among peers). Males experience disruptive mood dysregulation disorder substantially more frequently than females do. Other disorders include major depression, attention-deficit/hyperactivity, anxiety, and behavioural disorders may also coexist with it.
Disruptive mood dysregulation disorder can significantly affect both the family and the child&apos;s capacity to function. Outbursts of anger and chronic, extreme irritation can interfere with family life, make it difficult for a child or young person to find or maintain friends, and cause issues at school.
Psychotherapy (also known as cognitive behaviour therapy) and/or medicines are frequently used in treatment.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=M4yyQ3czQtY&amp;list</string>
		<key>Thumbnail</key>
		<string>M4yyQ3czQtY</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>A person with persistent depressive disorder, also known as dysthymic disorder, is depressed for the most of the day on the majority of days for at least two years. The mood must last for at least a year and might be either irritated or melancholy in children and adolescents.
Symptoms, in addition to a depressed mood, include:
•	Low self-esteem
•	Poor concentration or difficulty making decisions
•	Feelings of hopelessness
•	Poor appetite or overeating
•	Insomnia or hypersomnia
•	Low energy or fatigue

An estimated 0.5% of adults in the United States suffer with persistent depressive illness each year, which frequently starts in childhood, adolescence, or early adulthood. People who have persistent depressive disorder frequently describe their mood as melancholy or depressed. Because these symptoms have been a regular part of the person&apos;s life, they could choose not to seek help because they believe &quot;I&apos;ve always been this way.&quot;
Significant anxiety or difficulty is brought on by the symptoms at work, in social situations, or in other crucial areas of functioning. Although the impacts of persistent depressive disorder on employment, interpersonal connections, and daily living can vary greatly, they can be comparable to or even higher than those of major depressive disorder.
A severe depressive episode may occur before the development of persistent depressive disorder, but it can also happen after a previous diagnosis of persistent depression disorder and be overlaid on it.
</string>
		<key>UTubeLink</key>
		<string>https://www.youtube.com/watch?v=M4yyQ3czQtY&amp;list</string>
		<key>Thumbnail</key>
		<string>M4yyQ3czQtY</string>
	</dict>
</array>
</plist>
