<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Dr. Shashwat Saxena</string>
		<key>Image</key>
		<string>Seventeen.jpg</string>
		<key>Clinic</key>
		<string>Mind Wellness Clinic</string>
		<key>Address</key>
		<string>D-115, 8 No. Chauraha, Near Nirala Medical Store, Nirala Nagar Lucknow, Uttar Pradesh 226020</string>
		<key>Degree</key>
		<string>MBBS, M.D. (Psychiatry)</string>
		<key>Specialist</key>
		<string>PSYCHIATRIST</string>
		<key>Phone No.</key>
		<string>9935-979-501</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dr. Anurag Agarwal (Samvedna Neuro Psychiatry Centre)</string>
		<key>Image</key>
		<string>ten.jpg</string>
		<key>Clinic</key>
		<string></string>
		<key>Address</key>
		<string>Shop no - 1 and 2 Bhawna complex, LGF Sahara State turn on, Tedhi Pulia Ring Rd, Jankipuram, Lucknow, Uttar Pradesh 226021</string>
		<key>Degree</key>
		<string>MBBS, M.D. (Psychiatry)</string>
		<key>Specialist</key>
		<string>Psychiatrist, Neuropsychiatrist</string>
		<key>Phone No.</key>
		<string>070072 99107</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>Seventeen.jpg</string>
		<key>Name</key>
		<string>Dr. Rakesh Yaduvanshi</string>
		<key>Clinic</key>
		<string></string>
		<key>Address</key>
		<string>Samvedana psychiatric centre 
100 futa road, near oshi banquet hall, Bareilly</string>
		<key>Degree</key>
		<string>MBBS, MD (KGMU, Lucknow)</string>
		<key>Specialist</key>
		<string> Consultant Psychiatrist</string>
		<key>Phone No.</key>
		<string>8004315001</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>Seventeen.jpg</string>
		<key>Name</key>
		<string>Dr Haseeb Khan Best Psychiatrist in Lucknow</string>
		<key>Clinic</key>
		<string></string>
		<key>Address</key>
		<string>Chandra Hospital, near matiyari, chauraha, Lucknow, Uttar Pradesh 226028</string>
		<key>Degree</key>
		<string>MBBS, M.D. (Psychiatry)</string>
		<key>Specialist</key>
		<string>Neuropsychiatrist</string>
		<key>Phone No.</key>
		<string>07275848358</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Neuropsychiatry, Child Guidance and De-addiction Clinic - Psychiatrist Child Guidance</string>
		<key>Image</key>
		<string>four.jpg</string>
		<key>Clinic</key>
		<string></string>
		<key>Address</key>
		<string>Adjacent to Jainiss Hospital, Vivek Khand-2, Gomti, Nagar, near Neelkanth Sweets, Lucknow, Uttar Pradesh 226010</string>
		<key>Degree</key>
		<string>M.D. (Psychiatry)</string>
		<key>Specialist</key>
		<string>Psychiatrist , Geriatric Psychiatrist , Addiction Psychiatrist , Neuropsychiatrist</string>
		<key>Phone No.</key>
		<string>08858110883</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dr. Kamlendra Kishore - Best Psychiatrist Sexologist de addiction Psychotherapist</string>
		<key>Image</key>
		<string>ten.jpg</string>
		<key>Clinic</key>
		<string></string>
		<key>Address</key>
		<string>Garh Rd, near Medwin Hospital, opposite Parashar Pathology Gandhi Ashram, Nauchandi, Meerut, Uttar Pradesh 250002</string>
		<key>Degree</key>
		<string>MBBS, M.D. (Psychiatry)</string>
		<key>Specialist</key>
		<string>Psychiatrist, Neuropsychiatrist, Addiction Psychiatrist</string>
		<key>Phone No.</key>
		<string>093685 38006</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dr. Bheemsain Tekkalaki&apos;s Sumana Psychiatry Center</string>
		<key>Image</key>
		<string>Seventeen.jpg</string>
		<key>Clinic</key>
		<string></string>
		<key>Address</key>
		<string>Kelkar Bagh Rd, Kelkar Bagh, Khade Bazar, Raviwar Peth, Belagavi, Karnataka 590001</string>
		<key>Degree</key>
		<string>MBBS, M.D. (Psychiatry)</string>
		<key>Specialist</key>
		<string>Psychiatry</string>
		<key>Phone No.</key>
		<string>0831 355 4369</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dr. Kunwar Vaibhav (Neuro Psychiatry Clinic) - Neuro Psychiatrists in Faizabad</string>
		<key>Image</key>
		<string>Seventeen.jpg</string>
		<key>Clinic</key>
		<string></string>
		<key>Address</key>
		<string>H. No .227, Achrya Nagar Bypass, Faizabad, Uttar Pradesh 224001</string>
		<key>Degree</key>
		<string></string>
		<key>Specialist</key>
		<string>Psychiatrist, nutritionist</string>
		<key>Phone No.</key>
		<string>073887 77224</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dr. Shweta Baliyan</string>
		<key>Image</key>
		<string>Seventeen.jpg</string>
		<key>Clinic</key>
		<string>Mind care clinic </string>
		<key>Address</key>
		<string>Near Radha Govind mandap Garh Road Meerut 250004</string>
		<key>Degree</key>
		<string>MD -Psychiatry</string>
		<key>Specialist</key>
		<string>Psychiatrist , psychotherapist</string>
		<key>Phone No.</key>
		<string>9536007634</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dr. Sandeep Budhwar</string>
		<key>Image</key>
		<string>Seventeen.jpg</string>
		<key>Clinic</key>
		<string></string>
		<key>Address</key>
		<string>M-2/78, Near, Shubham Guest House Rd, next to Laxmibai School, Avas Vikas Barabanki, Awas Vikas Colony, Barabanki, Uttar Pradesh 225001</string>
		<key>Degree</key>
		<string>DNB &amp; MBBS.</string>
		<key>Specialist</key>
		<string>Neuropsychiatrist,yoga</string>
		<key>Phone No.</key>
		<string>8858110883</string>
	</dict>
</array>
</plist>
