<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Psychosis</key>
		<string>The term &quot;psychosis&quot; is used to characterise mental disorders in which some sense of reality has been lost. This type of illness is referred to as a psychotic episode. A person&apos;s ideas and perceptions are distorted while they are experiencing psychosis, and they could find it difficult to distinguish between what is genuine and what isn&apos;t.</string>
	</dict>
	<dict>
		<key>Psychosis</key>
		<string>People from many walks of life are susceptible to psychosis. Psychosis frequently starts in a person&apos;s late teens to mid-twenties. In the United States, there are over 100,000 new instances of psychosis each year.</string>
	</dict>
	<dict>
		<key>Psychosis</key>
		<string>Before psychosis takes hold, a person&apos;s behaviour will typically shift. The following behaviours are red flags for psychosis:
• A sudden reduction in performance at work or in grades
• Recent issues with concentration or clear thinking
• Suspicion, paranoid thoughts, or discomfort around others
• Refusing to interact with others and spending a lot more time alone than usual
• Strange, excessively intense new ideas, odd emotions, or no emotions at all
 
• A decline in personal hygiene or self-care
• Difficulty separating fantasy from reality
• Fluency issues or communication difficulties</string>
	</dict>
	<dict>
		<key>Psychosis</key>
		<string>Psychosis can have a variety of causes. Psychosis could be a sign of a mental condition like bipolar disorder or schizophrenia. However, a person could go through psychosis without ever being given a schizophrenia or other mental disease diagnosis. Other factors include lack of sleep, general health issues, the overuse of prescription medications, alcohol, or other drugs like marijuana. When diagnosing a mental disease like schizophrenia, all of these other potential causes of psychosis are normally ruled out. Visit a trained healthcare practitioner for a comprehensive evaluation and precise diagnosis (such as a psychologist, psychiatrist, or social worker).</string>
	</dict>
	<dict>
		<key>How is schizophrenia handled?</key>
		<string>According to studies, it&apos;s typical for someone to have psychotic symptoms for over a year before seeking therapy. Because early treatment frequently results in a better recovery, it is imperative to shorten this period of untreated psychosis. A skilled social worker, psychologist, or psychiatrist will be able to provide a diagnosis and assist in creating a treatment strategy.
Psychotic individuals may exhibit perplexing, unpredictable behaviour as well as threatening or aggressive tendencies. The likelihood of someone with psychotic symptoms harming themselves over another person is higher. It&apos;s crucial to get assistance if you see these behavioural changes and they start to get worse or persist.
Research supports a range of early psychosis therapies, including integrated specialised care. The Recovery After an Initial Schizophrenia Episode (RAISE) project, a research programme, was introduced by the National Institute of Mental Health (NIMH) in 2008. In order to help people go back on the path to leading productive, independent lives, RAISE researched integrated specialist care treatments and the most effective strategies to step in once they start to exhibit psychotic symptoms. The elements of coordinated specialised care include:
• Cognitive behaviour therapy is frequently the foundation of individual or group psychotherapy. This therapy is customised to meet the needs of each patient and has an emphasis on coping skill development, disease and wellness management, and resilience training.
• Family support and education inform family members about psychosis and teach them how to cope, communicate, and solve problems. informed family members, as well as
• Pharmacotherapy, often known as medication management, aids in the amelioration of psychotic symptoms. The choice of medication and the dosage is based on the specific requirements of each early psychosis patient. Antipsychotic meds have dangers and advantages, much like all other treatments. Patients should discuss pharmaceutical side effects, price, and preferred dosages with their doctors (daily pill or monthly injection).
• Services for supported employment and education assist patients in returning to work or school and achieving their individual objectives. Rapid placement in a professional or educational environment is prioritised, along with coaching and assistance, to assure success.
A patient&apos;s ability to solve problems is aided by case management. The case manager can organise social services across several areas of need and provide answers for real-world issues.
 
Their treatment plans should be guided by goals to keep patients motivated. Planning for a patient&apos;s therapy should involve the person who has psychosis. The process of recuperation and their requirements.
It&apos;s critical to locate a mental health expert with experience treating psychosis who also puts the patient at ease.</string>
	</dict>
</array>
</plist>
