<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333015386345-5gg6c29e5rkgnbas98667jmkfnqrq8ri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333015386345-5gg6c29e5rkgnbas98667jmkfnqrq8ri</string>
	<key>API_KEY</key>
	<string>AIzaSyC58KpqD6pa1LOKnLbNQdJg-yNXDs4hQkY</string>
	<key>GCM_SENDER_ID</key>
	<string>333015386345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ev.cc.main</string>
	<key>PROJECT_ID</key>
	<string>mindwellnessios</string>
	<key>STORAGE_BUCKET</key>
	<string>mindwellnessios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333015386345:ios:b24e4d3487124c4fcec878</string>
</dict>
</plist>