<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoAzfPGvdqtY6ort92nV3ctA6D-w4-KPk</string>
	<key>GCM_SENDER_ID</key>
	<string>734159642731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ev.cc.main</string>
	<key>PROJECT_ID</key>
	<string>loginapp-b411d</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-b411d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:734159642731:ios:c50bb5ecfa0ade3d01912e</string>
</dict>
</plist>
